include ../button/button.pug
include ../card/card.pug
-
  const skisButtonArgs= {}
  skisButtonArgs.color= 'white';
  skisButtonArgs.textContent= 'VIEV ON INSTAGRAM';

  const skisCardArgs= {}
  skisCardArgs.cardName= 'skis',
  skisCardArgs.firstCaptionContent= 'INSTAGRAM';
  skisCardArgs.paragraphContent= 'Etiam lacus dolor, tincidunt vitae nisi in, vulputate placerat odio. Pellentesque iaculis.';
  skisCardArgs.hasButton= true;
  skisCardArgs.buttonParameters= skisButtonArgs;

section.razdelLyizhi
  .lyizhi_text
    +card(skisCardArgs)  
  .lyizhi_icon
    img(src='../images/sky.png' alt='Lyizhi_Palki_Botinki')
  .lyizhi_zero