include ../button/button.pug
include ../card/card.pug

-
  const backOfHeadButtonArgs= {}
  backOfHeadButtonArgs.textContent= 'CLICK TO PLAY';
  backOfHeadButtonArgs.hasIcon= true;
  backOfHeadButtonArgs.color= 'green';

  const backOfHeadCardArgs= {}
  backOfHeadCardArgs.cardName= 'backOfHead';
  backOfHeadCardArgs.firstCaptionContent= 'SELF-EFFACING RAGE';
  backOfHeadCardArgs.secondCaptionContent= 'FT. FASCINATING COLLISION';
  backOfHeadCardArgs.listItemContents= [
    'Director: James G. Rohrer',
    'Production Company: Sycamore',
    'Producer: Laura S. Carlton',
    'Executive Producer: Jack M. Heckart'
  ];
  backOfHeadCardArgs.hasButton= true;
  backOfHeadCardArgs.buttonParameters= backOfHeadButtonArgs;

section.razdelZatyilok
  .zatyilok_zero
  .zatyilok_kontent
    img(src='../images/gl.png' alt='zatyilok')
    section.zatyilok_text
      +card(backOfHeadCardArgs)