mixin button(options)
  - 
    const className= 'button';
    let {
      color= null,
      hasIcon= false,
      textContent = 'Abra-Kadabra'
    }= options;

    let icon;
    if (hasIcon== true){
      icon= `${className}_icon`;
    }else{
      icon= ' ';
    }
  a(class= `${className} ${className}_color_${color} ${icon}` href= '#')= textContent