include ../button/button.pug
include ../card/card.pug
-
  const leftButtonArgs= Object.assign({}, arguments);
  leftButtonArgs.color= 'white';
  leftButtonArgs.textContent= 'FOLLOW ON SPOTIFY';

  const rightButtonArgs= Object.assign({}, arguments);
  rightButtonArgs.color= 'white';
  rightButtonArgs.textContent= 'BUY FROM ITUNES'

  const leftCardArgs= Object.assign({}, cardArguments);
  leftCardArgs.cardName= 'contacts-left';
  leftCardArgs.firstCaptionContent= 'SPOTIFY';
  leftCardArgs.paragraphContent= 'Follow me, stream and add my songs to your Spotify playlist.';
  leftCardArgs.hasButton= true;
  leftCardArgs.buttonParameters= leftButtonArgs;

  const rightCardArgs= Object.assign({}, cardArguments);
  rightCardArgs.cardName= 'contacts-right';
  rightCardArgs.firstCaptionContent= 'ITUNES';
  rightCardArgs.paragraphContent= 'Buy and download my songs from iTunes.';
  rightCardArgs.hasButton= true;
  rightCardArgs.buttonParameters= rightButtonArgs;
  
section.razdelKontaktyi
  .kontaktyi_1
    +card(leftCardArgs)  
  .kontaktyi_2
    +card(rightCardArgs)