mixin card(arguments)
  - 
    const className= 'card';
    const {
      cardName= '',
      firstCaptionContent= '',
      secondCaptionContent= '',
      paragraphContent= '',
      listItemContents= [],
      hasButton= false,
      buttonParameters= {},
      copyringContent= ''
    }= arguments

  div(class= `${className} ${className}_${cardName}`)
    h2(class= `${className}__first-caption`)= firstCaptionContent
    h2(class= `${className}__second-caption`)= secondCaptionContent
    p(class= `${className}__paragraph`)= paragraphContent
    ul(class= `${className}__list`)
      each val in listItemContents
        li(class= `${className}__list-item`)= val
    div(class= `${className}__button-wrapper`)
      if hasButton
        +button(buttonParameters)
    div(class= `${className}__copyring`)= copyringContent