mixin card(arguments)
  - 
    const className= 'card';
    const {
      cardName= '',
      firstCaptionContent= '',
      secondCaptionContent= '',
      paragraphContent= '',
      listItemContents= [],
      hasButton= false,
      buttonParameters= {},
      copyringContent= ''
    }= arguments

  div(class= `${className} ${className}_${cardName}`)
    h2(class= `${className}__first-caption_${cardName}`)= firstCaptionContent
    h2(class= `${className}__second-caption_${cardName}`)= secondCaptionContent
    p(class= `${className}__paragraph_${cardName}`)= paragraphContent
    ul(class= `${className}__list_${cardName}`)
      each val in listItemContents
        li(class= `${className}__list-item_${cardName}`)= val
    div(class= `${className}__button-wrapper_${cardName}`)
      if hasButton== true
        +button(buttonParameters)
    div(class= `${className}__copyring_${cardName}`)= copyringContent