mixin card()
  - const className= 'card';
  div(class= `${className}`)
    h2(class= `${className}__first-caption_${cardName}`)= firstCaptionContent
    h2(class= `${className}__second-caption_${cardName}`)= secondCaptionContent
    p(class= `${className}__paragraph_${cardName}`)= paragraphContent
    ul(class= `${className}__list_${cardName}`)
      li(class= `${className}__list-item_${cardName}`)= listItemContent1 
      li(class= `${className}__list-item_${cardName}`)= listItemContent2
      li(class= `${className}__list-item_${cardName}`)= listItemContent3 
      li(class= `${className}__list-item_${cardName}`)= listItemContent4
    div(class= `${className}__button-wrapper_${cardName}`)
      block