mixin card(arguments)
  - const className= 'card';
  - 
    let {
      cardName= 'skis',
      firstCaptionContent= 'Abra-Kadabra',
      secondCaptionContent= 'abra-kadabra',
      paragraphContent= 'SATOR AREPO TENET OPERA ROTAS',
      listItemContent1= 'ABRA-KADABRA',
      listItemContent2= 'INRI INRI',
      listItemContent3= 'INRI INRI',
      listItemContent4= 'ABRA-KADABRA',
      copyringContent= 'Copyring'
    }= arguments

  div(class= `${className} ${className}_${cardName}`)
    h2(class= `${className}__first-caption_${cardName}`)= firstCaptionContent
    h2(class= `${className}__second-caption_${cardName}`)= secondCaptionContent
    p(class= `${className}__paragraph_${cardName}`)= paragraphContent
    ul(class= `${className}__list_${cardName}`)
      li(class= `${className}__list-item_${cardName}`)= listItemContent1 
      li(class= `${className}__list-item_${cardName}`)= listItemContent2
      li(class= `${className}__list-item_${cardName}`)= listItemContent3 
      li(class= `${className}__list-item_${cardName}`)= listItemContent4
    div(class= `${className}__button-wrapper_${cardName}`)
      block
    div(class= `${className}__copyring_${cardName}`)= copyringContent