- const className= 'header';

header
  div(class= `${className}__row-navigation`)
    a(class= `${className}__logotype` href='index.html') /.
    button(class= `${className}__btn-menu`)
      div(class= `${className}__btn-menu-gamburger`)
        span(class= `${className}__gamburger-item-middle`)
      | MENU
    nav(class= `${className}__navigation`)
      ul(class= `${className}__menu-list`)
        li(class= `${className}__menu-item`)
          a(href='index.html' class= `${className}__menu-referens`)
            | MAIN
        li(class= `${className}__menu-item`)
          a(href='kontaktyi.html' class= `${className}__menu-referens`)
            | Kontaktyi
        li(class= `${className}__menu-item`)
          a(href='tovaryi.html' class= `${className}__menu-referens`)
            | Tovaryi
        li(class= `${className}__menu-item`)
          a(href='uslugi.html' class= `${className}__menu-referens`)
            | Uslugi
  div(class= `${className}__wrapper-caption`)
    h1(class= `${className}__caption-level-1`)
      | Amazing Dude. Amazing Life.
  p(class= `${className}__paragraph-1`)
    | Welcome to personal site of 
    span(class= `${className}__john`) John Doe
    | .
  p(class= `${className}__paragraph-2`)
    | A professional skier and musician.