mixin header(options= {})  
  - 
    const className= 'header';
    const {
      arrOpt= [
        ['', '']
      ]
    }= options

  header(class= `${className}`)
    div(class= `${className}__row-navigation`)
      a(class= `${className}__logotype` href='index.html') /.
      button(class= `${className}__btn-menu`)
        div(class= `${className}__btn-menu-gamburger`)
          span(class= `${className}__gamburger-item-middle`)
        | MENU
      nav(class= `${className}__navigation`)
        ul(class= `${className}__menu-list`)
          each val in arrOpt
            li(class= `${className}__menu-item`)
              a(href= val[0] class= `${className}__menu-referens`)= val[1] /* -'index.html' MAIN */
    div(class= `${className}__wrapper-caption`)
      h1(class= `${className}__caption`)
        | Amazing Dude. Amazing Life.
    p(class= `${className}__paragraph-top`)
      | Welcome to personal site of 
      span(class= `${className}__john`) John Doe
      | .
    p(class= `${className}__paragraph-bottom`)
      | A professional skier and musician.