- const className= 'footer';

footer(class= `${className}`)
  section(class= `${className}__column`)
    h2(class= `${className}__caption`)
      | AMAZING DUDE
    h2(class= `${className}__caption`)
      | AMAZING LIFE
    p(class= `${className}__paragraph`)
      | Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.
    span(class= `${className}__parag-bott`)
      | &#x24B8;2015. all rights reserved.
  section(class= `${className}__column`)
    h2(class= `${className}__caption`)
      | CONTACT ME
    p(class= `${className}__paragraph`)
      | 1242 Crestview Terrace
      | Artesia Wells, TX 78001
    p(class= `${className}__paragraph`)
      | Phone: 830-676-7974
      | Email: halo@sitename.com
    h2(class= `${className}__caption`)
      | FOLLOW ME ON
    ul(class= `${className}__list`)
      li(class= `${className}__list-item`)
        a(href='#') FACEBOOK
      li(class= `${className}__list-item`)
        a(href='#') TWITTER
      li(class= `${className}__list-item`)
        a(href='#') INSTAGRAM
      li(class= `${className}__list-item`)
        a(href='#') SPOTIFY
  section(class= `${className}__column`)
    h2(class= `${className}__caption`)
      | SUBSCRIBE
    p(class= `${className}__paragraph`)
      | Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
    form(class= `${className}__form`)
      input(class= `${className}__input-email` type='email' placeholder='ENTER YOUR EMAIL ADDRESS')
      button(class= `${className}__button-email`)
    h2(class= `${className}__caption`)
      | SPONSOR
    div(class= `${className}__row-logotype`)
      | 
      span(class= `${className}__logotype-item`) LOGO
      | 
      span(class= `${className}__logotype-item`) LOGO
      | 
      span(class= `${className}__logotype-item`) LOGO
      | 
      span(class= `${className}__logotype-item`) /.