mixin footer  
  - const className= 'footer';

  footer(class= `${className}`)
    section(class= `${className}__column-left`)
      h2(class= `${className}__left-first-caption`)
        | AMAZING DUDE
      h2(class= `${className}__left-second-caption`)
        | AMAZING LIFE
      p(class= `${className}__left-paragraph`)
        | Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.
      span(class= `${className}__left-copyring`)
        | &#x24B8;2015. all rights reserved.
    section(class= `${className}__column-middle`)
      h2(class= `${className}__middle-first-caption`)
        | CONTACT ME
      p(class= `${className}__middle-first-paragraph`)
        | 1242 Crestview Terrace
        | Artesia Wells, TX 78001
      p(class= `${className}__middle-second-paragraph`)
        | Phone: 830-676-7974
        | Email: halo@sitename.com
      h2(class= `${className}__middle-second-caption`)
        | FOLLOW ME ON
      ul(class= `${className}__middle-list`)
        li(class= `${className}__middle-list-item`)
          a(href='#' class= `${className}__middle-list-item-reference`) FACEBOOK
        li(class= `${className}__middle-list-item`)
          a(href='#' class= `${className}__middle-list-item-reference`) TWITTER
        li(class= `${className}__middle-list-item`)
          a(href='#' class= `${className}__middle-list-item-reference`) INSTAGRAM
        li(class= `${className}__middle-list-item`)
          a(href='#' class= `${className}__middle-list-item-reference`) SPOTIFY
    section(class= `${className}__column-right`)
      h2(class= `${className}__right-first-caption`)
        | SUBSCRIBE
      p(class= `${className}__right-first-paragraph`)
        | Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
      form(class= `${className}__right-form`)
        input(class= `${className}__right-input-email` type='email' placeholder='ENTER YOUR EMAIL ADDRESS')
        button(class= `${className}__right-button-email`)
      h2(class= `${className}__right-second-caption`)
        | SPONSOR
      div(class= `${className}__right-row-logotype`)
        | 
        span(class= `${className}__right-logotype-item`) LOGO
        | 
        span(class= `${className}__right-logotype-item`) LOGO
        | 
        span(class= `${className}__right-logotype-item`) LOGO
        | 
        span(class= `${className}__right-logotype-item`) /.